.container {
    width: 100%;
    display: flex;
    background-color: #e8f5e9;
    border-radius: 8px;
    padding: 24px;
    margin-top: 24px;
    align-items: center;
    border: 2px solid #81c784;
}

.container_left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.container_right {
    display: flex;
    flex-direction: column;
}

.message {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2e7d32;
    margin-bottom: 8px;
}